{{page-title "Index"}}
test
<ul>
{{#each @model as |post|}}
{{!-- previously it used to be
{{#link-to "blog" post.id}} --}}
<LinkTo @route="blog" @model="{{post.id}}">
<li>{{post.title}}</li>
</LinkTo>
{{/each}}
</ul>
{{outlet}}